# Travis CI configuration file

# Tell Travis CI to PHP.
language: php

# Versions of PHP to test against.
php:
    # - '5.2'
    # - '5.3'
    - '5.4'

# Specify versions of WordPress to test against.
# WP_VERSION = WordPress version number (use "master" for SVN trunk)
# WP_MULTISITE = whether to test multisite (use either "0" or "1")
env:
    - WP_VERSION=4.1.1 WP_MULTISITE=0
    # - WP_VERSION=4.0.* WP_MULTISITE=0
    # - WP_VERSION=master WP_MULTISITE=0
    # - WP_VERSION=4.1.1 WP_MULTISITE=1
    # - WP_VERSION=4.0.* WP_MULTISITE=1
    # - WP_VERSION=master WP_MULTISITE=1

# Install WordPress and test suite support files.
install:
    # Hand off WP install to a third party script and put the plugin into the
    # wp-content/plugins/ directory.
    - .travis/install-wp.sh
    # The install script leaves working directory at plugin directory.
    - cp .travis/wp-tests-config.local.php ../../../
    - cd ../../../
    - git clone https://github.com/BevanR/Test-suite-boilerplate-for-WordPress-websites.git test
    - mv wp-tests-config.local.php test/phpunit/
    # The boilerplate repository's default phpunit.xml is already configured for drupal-password-encryption plugin.
    - cp test/phpunit/phpunit-sample.xml phpunit.xml
